@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav flex-grow-1">
        <li class="presentation">
            <a class=" glyphicon glyphicon-th-list" asp-area="" asp-controller="Anggota" asp-action="Index"> Anggota</a>
        </li>
        <li class="presentation">
            <a class=" glyphicon glyphicon-calendar" asp-area="" asp-controller="Absensi" asp-action="Index"> Absensi</a>
        </li>
        <li class="presentation">
            <a class=" glyphicon glyphicon-calendar" asp-area="" asp-controller="Pengurus" asp-action="Index"> Pengurus</a>
        </li>
        <li class="presentation">
            <a class=" glyphicon glyphicon-calendar" asp-area="" asp-controller="Wilayah" asp-action="Index"> Wilayah</a>
        </li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown-header">
            <a class="glyphicon glyphicon-cog" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)</a>
        </li>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="glyphicon glyphicon-log-out"> Logout</button>
        </form>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="persentation"><a class="glyphicon glyphicon-user" asp-area="Identity" asp-page="/Account/Register"> Register</a></li>
        <li class="persentation"><a class="glyphicon glyphicon-log-in" asp-area="Identity" asp-page="/Account/Login"> Login</a></li>
    </ul>
}