@{
    ViewData["Title"] = "Home";
}
    <div class="text-center">
        <img src="~/Img/Logo.png" class="img-rounded" width="400" height="400" asp-append-version="true" />
    </div>

    <div class="text-center">
        @*<h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        <h2>TUGAS KKP</h2>

        <h1 class="display-4">Destar Nauli Silaban<br>Nim: 1217090108</h1>

        <h3>Jurusan Sistem Informasi Computerized Business & Management
        Sekolah Tinggi Management Ilmu Komputer “STMIK GLOBAL” Cimone</h3>
        <h3>Tangerang<br>2020</h3>
    </div>
