@model AppAttendance.Models.Pengurus
@{
    ViewData["Title"] = "Login";
}


<h2 class="text-center">Login</h2>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
            @ViewBag.Error
            <form role="form" asp-action="Login" asp-controller="Pengurus" method="post">
                <div class="form-group">
                    <label for="Username">Username</label>
                    <input type="text" name="Username" asp-for="Username" autocomplete="on" class="form-control input-sm" placeholder="Username">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Passwords">Password</label>
                    <input type="password" name="Passwords" asp-for="Passwords" autocomplete="off" class="form-control input-sm" placeholder="Password">
                    <span asp-validation-for="Passwords" class="text-danger"></span>
                </div>
                <input type="submit" value="Login" class="btn btn-info btn-block">
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}  